<%= form_tag "/contacts", method: :post do %>
  <div>
    First name <input type="text" name="first">
  </div> 
  <div>
    Middle name <input type="text" name="middle">
  </div>
  <div>
    Last name <input type="text" name="last">
  </div>
  <div>
    Relationship <input type="text" name="relationship">
  </div>  
  <div>
    Bio <input type="text" name="bio">
  </div>
  <div>
    Number <input type="text" name="number">
  </div> 
  <div>
    Email <input type="text" name="email">
  </div> 
  <input type="submit" value="Create Contact">
<% end %>

