<%= form_tag "/new_contact_result", method: :post do %>
  <div>
    First name <input type="text" name="first">
  </div>
  <div>
    Last name <input type="text" name="last">
  </div>
  <input type="submit" value="Create Name">
<% end %>

